@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

.qr_code_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.qr_code_box {
  background-color: white;
  height: 480px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px hsl(212, 45%, 89%);
}

img {
  width: 280px;
  border-radius: 15px;
  margin: 10px;
}

h1 {
  text-align: center;
  padding: 5px;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
  padding: 15px;
}