*  {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 20.31em;
    max-height: 32.81em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
}

img {
    max-width: 17.1875em;
    max-height: 17.1875em;
    border-radius: 1em;
    margin-top: 1.5em;
}

section {
    margin: 1.5em;
}

h1 {
    color:hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
}

footer {
    margin: 1em 0;
}
